.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.WrapDiv {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.OutsideContainer {
  margin-top: 8%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.submitButton {
  margin-top: 2%;
}

.resultDiv {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
ul li{
  padding: 0.5rem;
}